<%- include('artist-company/layouts/header') %>
    <!--  -->

    <!-- Final Review -->

    <section class="album-details" id="step-five">
        <div class="container">
            <div class="back-btns my-5">
                <a id="header-back-redirect">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.57 5.92969L3.5 11.9997L9.57 18.0697" stroke="black" stroke-width="1.5"
                            stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M20.4999 12H3.66992" stroke="black" stroke-width="1.5" stroke-miterlimit="10"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    Back
                </a>
            </div>
            <div class="details-album-cover final-review">
                <p class="">DJ Charts</p>
                <div class="album-profile d-flex">
                    <img src="../images/IMAGE.png" alt="">
                    <div class="album-title position-relative">
                        <h2>Im Good(Blue)</h2>
                        <ul class="d-flex album-plateform">
                            <li>
                                <a href="#!">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_213_2302)">
                                            <rect x="2" y="2" width="16" height="16" rx="8" fill="white"></rect>
                                            <path
                                                d="M10 0C4.47727 0 0 4.47682 0 10C0 15.5232 4.47727 20 10 20C15.5227 20 20 15.5232 20 10C20 4.47682 15.5227 0 10 0ZM14.8788 14.4156C14.7182 14.7 14.4227 14.86 14.1182 14.86C13.9758 14.86 13.8288 14.8244 13.6939 14.7494C12.4455 14.0494 11.0849 13.6206 9.64698 13.475C8.20607 13.3306 6.78333 13.4768 5.41667 13.9132C4.96061 14.0588 4.4697 13.8068 4.32425 13.35C4.17728 12.8924 4.4303 12.4032 4.88788 12.2568C6.48182 11.7476 8.14393 11.5744 9.82272 11.745C11.4985 11.9156 13.0864 12.4156 14.5439 13.2326C14.9636 13.4662 15.1136 13.9962 14.8788 14.4156ZM16.0758 11.3782C15.9212 11.6756 15.6182 11.8462 15.3045 11.8462C15.1682 11.8462 15.0318 11.815 14.903 11.7476C13.3682 10.9482 11.7106 10.4532 9.97272 10.2768C8.2212 10.0976 6.48637 10.2538 4.81364 10.7362C4.35152 10.8674 3.8697 10.6032 3.73789 10.1412C3.60455 9.68 3.87121 9.19818 4.33181 9.065C6.21969 8.52061 8.17727 8.34621 10.1485 8.54621C12.1061 8.74561 13.9758 9.30318 15.7076 10.2056C16.1318 10.4276 16.2985 10.9524 16.0758 11.3782ZM16.5091 8.85121C16.3788 8.85121 16.247 8.82182 16.1212 8.76C14.3 7.85182 12.3409 7.28621 10.297 7.07879C8.24999 6.86939 6.21364 7.03121 4.24242 7.55758C3.77879 7.68061 3.30303 7.40561 3.17879 6.94121C3.05454 6.47742 3.33031 6.00061 3.79546 5.87682C5.9697 5.29621 8.21818 5.11939 10.4742 5.34879C12.7273 5.57682 14.8879 6.20121 16.897 7.20318C17.3273 7.41742 17.5015 7.94 17.2879 8.3694C17.1364 8.675 16.8288 8.85121 16.5091 8.85121Z"
                                                fill="#1ED760"></path>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_213_2302">
                                                <rect width="20" height="20" fill="white"></rect>
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#!">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_213_2305)">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M15.6667 19.9999H4.33334C3.76396 20.0011 3.19996 19.8898 2.6737 19.6724C2.14744 19.455 1.66929 19.1359 1.26668 18.7333C0.864061 18.3307 0.544914 17.8525 0.327547 17.3263C0.110179 16.8 -0.00112915 16.236 8.63533e-06 15.6666V4.33328C-0.00112915 3.7639 0.110179 3.1999 0.327547 2.67364C0.544914 2.14738 0.864061 1.66923 1.26668 1.26661C1.66929 0.864 2.14744 0.544853 2.6737 0.327486C3.19996 0.110118 3.76396 -0.00119019 4.33334 -5.23998e-05H15.6667C16.2361 -0.00119019 16.8001 0.110118 17.3263 0.327486C17.8526 0.544853 18.3307 0.864 18.7333 1.26661C19.136 1.66923 19.4551 2.14738 19.6725 2.67364C19.8898 3.1999 20.0011 3.7639 20 4.33328V15.6666C20.0011 16.236 19.8898 16.8 19.6725 17.3263C19.4551 17.8525 19.136 18.3307 18.7333 18.7333C18.3307 19.1359 17.8526 19.455 17.3263 19.6724C16.8001 19.8898 16.2361 20.0011 15.6667 19.9999Z"
                                                fill="url(#paint0_linear_213_2305)"></path>
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M14.6666 12.0833V12.6667C14.6664 13.0411 14.633 13.4148 14.5666 13.7833C14.5343 13.9712 14.4645 14.1506 14.3614 14.3109C14.2583 14.4712 14.1241 14.6092 13.9666 14.7167H13.95C13.6177 14.9688 13.2166 15.1141 12.8 15.1333L12.4833 15.1667C12.2348 15.1819 11.9862 15.1385 11.7575 15.0401C11.5288 14.9417 11.3264 14.7909 11.1666 14.6C11.0004 14.3986 10.8911 14.1564 10.85 13.8985C10.809 13.6406 10.8378 13.3764 10.9333 13.1333V13.1167C11.0206 12.8789 11.1651 12.6664 11.354 12.4978C11.543 12.3292 11.7705 12.2097 12.0166 12.15L13.2666 11.8167C13.4238 11.7792 13.5638 11.6896 13.6636 11.5625C13.7635 11.4354 13.8174 11.2783 13.8166 11.1167V10.2667V6.68332C13.8178 6.64194 13.8093 6.60086 13.792 6.56328C13.7746 6.52569 13.7488 6.49263 13.7166 6.46665C13.6835 6.4422 13.6456 6.42509 13.6053 6.41647C13.5651 6.40785 13.5235 6.40791 13.4833 6.41665L8.14995 7.49999C8.05542 7.5151 7.96957 7.56394 7.90829 7.63749C7.847 7.71103 7.81444 7.80428 7.81662 7.89999V13.6V14.0167C7.81642 14.3911 7.78296 14.7648 7.71662 15.1333C7.68425 15.3212 7.61446 15.5006 7.51139 15.6609C7.40831 15.8212 7.27407 15.9592 7.11662 16.0667H7.09995C6.76767 16.3188 6.36664 16.4641 5.94995 16.4833L5.64995 16.5C5.40144 16.5152 5.15283 16.4719 4.92414 16.3734C4.69544 16.275 4.49306 16.1243 4.33329 15.9333C4.16705 15.7319 4.05774 15.4897 4.01671 15.2318C3.97568 14.9739 4.00442 14.7097 4.09995 14.4667V14.45C4.18723 14.2123 4.33172 13.9997 4.52067 13.8311C4.70962 13.6625 4.9372 13.5431 5.18329 13.4833L6.43329 13.15C6.59052 13.1125 6.73044 13.023 6.8303 12.8959C6.93017 12.7688 6.98408 12.6116 6.98329 12.45V11.6V4.98332C6.98514 4.84112 7.03584 4.70389 7.12688 4.59464C7.21792 4.4854 7.34376 4.41078 7.48329 4.38332L14.1666 3.16665C14.2895 3.15225 14.4134 3.18177 14.5166 3.24999C14.5634 3.28843 14.6012 3.33676 14.6271 3.39151C14.653 3.44626 14.6665 3.50607 14.6666 3.56665V12.0833Z"
                                                fill="#BB58BB"></path>
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M14.6666 12.0833V12.6667C14.6664 13.0411 14.633 13.4148 14.5666 13.7833C14.5343 13.9712 14.4645 14.1506 14.3614 14.3109C14.2583 14.4712 14.1241 14.6092 13.9666 14.7167H13.95C13.6177 14.9688 13.2166 15.1141 12.8 15.1333L12.4833 15.1667C12.2348 15.1819 11.9862 15.1385 11.7575 15.0401C11.5288 14.9417 11.3264 14.7909 11.1666 14.6C11.0004 14.3986 10.8911 14.1564 10.85 13.8985C10.809 13.6406 10.8378 13.3764 10.9333 13.1333V13.1167C11.0206 12.8789 11.1651 12.6664 11.354 12.4978C11.543 12.3292 11.7705 12.2097 12.0166 12.15L13.2666 11.8167C13.4238 11.7792 13.5638 11.6896 13.6636 11.5625C13.7635 11.4354 13.8174 11.2783 13.8166 11.1167V10.2667V6.68332C13.8178 6.64194 13.8093 6.60086 13.792 6.56328C13.7746 6.52569 13.7488 6.49263 13.7166 6.46665C13.6835 6.4422 13.6456 6.42509 13.6053 6.41647C13.5651 6.40785 13.5235 6.40791 13.4833 6.41665L8.14995 7.49999C8.05542 7.5151 7.96957 7.56394 7.90829 7.63749C7.847 7.71103 7.81444 7.80428 7.81662 7.89999V13.6V14.0167C7.81642 14.3911 7.78296 14.7648 7.71662 15.1333C7.68425 15.3212 7.61446 15.5006 7.51139 15.6609C7.40831 15.8212 7.27407 15.9592 7.11662 16.0667H7.09995C6.76767 16.3188 6.36664 16.4641 5.94995 16.4833L5.64995 16.5C5.40144 16.5152 5.15283 16.4719 4.92414 16.3734C4.69544 16.275 4.49306 16.1243 4.33329 15.9333C4.16705 15.7319 4.05774 15.4897 4.01671 15.2318C3.97568 14.9739 4.00442 14.7097 4.09995 14.4667V14.45C4.18723 14.2123 4.33172 13.9997 4.52067 13.8311C4.70962 13.6625 4.9372 13.5431 5.18329 13.4833L6.43329 13.15C6.59052 13.1125 6.73044 13.023 6.8303 12.8959C6.93017 12.7688 6.98408 12.6116 6.98329 12.45V11.6V4.98332C6.98514 4.84112 7.03584 4.70389 7.12688 4.59464C7.21792 4.4854 7.34376 4.41078 7.48329 4.38332L14.1666 3.16665C14.2895 3.15225 14.4134 3.18177 14.5166 3.24999C14.5634 3.28843 14.6012 3.33676 14.6271 3.39151C14.653 3.44626 14.6665 3.50607 14.6666 3.56665V12.0833Z"
                                                fill="url(#paint1_radial_213_2305)"></path>
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M14.6666 12.0833V12.6667C14.6664 13.0411 14.633 13.4148 14.5666 13.7833C14.5343 13.9712 14.4645 14.1506 14.3614 14.3109C14.2583 14.4712 14.1241 14.6092 13.9666 14.7167H13.95C13.6177 14.9688 13.2166 15.1141 12.8 15.1333L12.4833 15.1667C12.2348 15.1819 11.9862 15.1385 11.7575 15.0401C11.5288 14.9417 11.3264 14.7909 11.1666 14.6C11.0004 14.3986 10.8911 14.1564 10.85 13.8985C10.809 13.6406 10.8378 13.3764 10.9333 13.1333V13.1167C11.0206 12.8789 11.1651 12.6664 11.354 12.4978C11.543 12.3292 11.7705 12.2097 12.0166 12.15L13.2666 11.8167C13.4238 11.7792 13.5638 11.6896 13.6636 11.5625C13.7635 11.4354 13.8174 11.2783 13.8166 11.1167V10.2667V6.68332C13.8178 6.64194 13.8093 6.60086 13.792 6.56328C13.7746 6.52569 13.7488 6.49263 13.7166 6.46665C13.6835 6.4422 13.6456 6.42509 13.6053 6.41647C13.5651 6.40785 13.5235 6.40791 13.4833 6.41665L8.14995 7.49999C8.05542 7.5151 7.96957 7.56394 7.90829 7.63749C7.847 7.71103 7.81444 7.80428 7.81662 7.89999V13.6V14.0167C7.81642 14.3911 7.78296 14.7648 7.71662 15.1333C7.68425 15.3212 7.61446 15.5006 7.51139 15.6609C7.40831 15.8212 7.27407 15.9592 7.11662 16.0667H7.09995C6.76767 16.3188 6.36664 16.4641 5.94995 16.4833L5.64995 16.5C5.40144 16.5152 5.15283 16.4719 4.92414 16.3734C4.69544 16.275 4.49306 16.1243 4.33329 15.9333C4.16705 15.7319 4.05774 15.4897 4.01671 15.2318C3.97568 14.9739 4.00442 14.7097 4.09995 14.4667V14.45C4.18723 14.2123 4.33172 13.9997 4.52067 13.8311C4.70962 13.6625 4.9372 13.5431 5.18329 13.4833L6.43329 13.15C6.59052 13.1125 6.73044 13.023 6.8303 12.8959C6.93017 12.7688 6.98408 12.6116 6.98329 12.45V11.6V4.98332C6.98514 4.84112 7.03584 4.70389 7.12688 4.59464C7.21792 4.4854 7.34376 4.41078 7.48329 4.38332L14.1666 3.16665C14.2895 3.15225 14.4134 3.18177 14.5166 3.24999C14.5634 3.28843 14.6012 3.33676 14.6271 3.39151C14.653 3.44626 14.6665 3.50607 14.6666 3.56665V12.0833Z"
                                                fill="url(#paint2_radial_213_2305)"></path>
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M14.6666 12.0833V12.6667C14.6664 13.0411 14.633 13.4148 14.5666 13.7833C14.5343 13.9712 14.4645 14.1506 14.3614 14.3109C14.2583 14.4712 14.1241 14.6092 13.9666 14.7167H13.95C13.6177 14.9688 13.2166 15.1141 12.8 15.1333L12.4833 15.1667C12.2348 15.1819 11.9862 15.1385 11.7575 15.0401C11.5288 14.9417 11.3264 14.7909 11.1666 14.6C11.0004 14.3986 10.8911 14.1564 10.85 13.8985C10.809 13.6406 10.8378 13.3764 10.9333 13.1333V13.1167C11.0206 12.8789 11.1651 12.6664 11.354 12.4978C11.543 12.3292 11.7705 12.2097 12.0166 12.15L13.2666 11.8167C13.4238 11.7792 13.5638 11.6896 13.6636 11.5625C13.7635 11.4354 13.8174 11.2783 13.8166 11.1167V10.2667V6.68332C13.8178 6.64194 13.8093 6.60086 13.792 6.56328C13.7746 6.52569 13.7488 6.49263 13.7166 6.46665C13.6835 6.4422 13.6456 6.42509 13.6053 6.41647C13.5651 6.40785 13.5235 6.40791 13.4833 6.41665L8.14995 7.49999C8.05542 7.5151 7.96957 7.56394 7.90829 7.63749C7.847 7.71103 7.81444 7.80428 7.81662 7.89999V13.6V14.0167C7.81642 14.3911 7.78296 14.7648 7.71662 15.1333C7.68425 15.3212 7.61446 15.5006 7.51139 15.6609C7.40831 15.8212 7.27407 15.9592 7.11662 16.0667H7.09995C6.76767 16.3188 6.36664 16.4641 5.94995 16.4833L5.64995 16.5C5.40144 16.5152 5.15283 16.4719 4.92414 16.3734C4.69544 16.275 4.49306 16.1243 4.33329 15.9333C4.16705 15.7319 4.05774 15.4897 4.01671 15.2318C3.97568 14.9739 4.00442 14.7097 4.09995 14.4667V14.45C4.18723 14.2123 4.33172 13.9997 4.52067 13.8311C4.70962 13.6625 4.9372 13.5431 5.18329 13.4833L6.43329 13.15C6.59052 13.1125 6.73044 13.023 6.8303 12.8959C6.93017 12.7688 6.98408 12.6116 6.98329 12.45V11.6V4.98332C6.98514 4.84112 7.03584 4.70389 7.12688 4.59464C7.21792 4.4854 7.34376 4.41078 7.48329 4.38332L14.1666 3.16665C14.2895 3.15225 14.4134 3.18177 14.5166 3.24999C14.5634 3.28843 14.6012 3.33676 14.6271 3.39151C14.653 3.44626 14.6665 3.50607 14.6666 3.56665V12.0833Z"
                                                fill="url(#paint3_linear_213_2305)"></path>
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M14.6666 12.0833V12.6667C14.6664 13.0411 14.633 13.4148 14.5666 13.7833C14.5343 13.9712 14.4645 14.1506 14.3614 14.3109C14.2583 14.4712 14.1241 14.6092 13.9666 14.7167H13.95C13.6177 14.9688 13.2166 15.1141 12.8 15.1333L12.4833 15.1667C12.2348 15.1819 11.9862 15.1385 11.7575 15.0401C11.5288 14.9417 11.3264 14.7909 11.1666 14.6C11.0004 14.3986 10.8911 14.1564 10.85 13.8985C10.809 13.6406 10.8378 13.3764 10.9333 13.1333V13.1167C11.0206 12.8789 11.1651 12.6664 11.354 12.4978C11.543 12.3292 11.7705 12.2097 12.0166 12.15L13.2666 11.8167C13.4238 11.7792 13.5638 11.6896 13.6636 11.5625C13.7635 11.4354 13.8174 11.2783 13.8166 11.1167V10.2667V6.68332C13.8178 6.64194 13.8093 6.60086 13.792 6.56328C13.7746 6.52569 13.7488 6.49263 13.7166 6.46665C13.6835 6.4422 13.6456 6.42509 13.6053 6.41647C13.5651 6.40785 13.5235 6.40791 13.4833 6.41665L8.14995 7.49999C8.05542 7.5151 7.96957 7.56394 7.90829 7.63749C7.847 7.71103 7.81444 7.80428 7.81662 7.89999V13.6V14.0167C7.81642 14.3911 7.78296 14.7648 7.71662 15.1333C7.68425 15.3212 7.61446 15.5006 7.51139 15.6609C7.40831 15.8212 7.27407 15.9592 7.11662 16.0667H7.09995C6.76767 16.3188 6.36664 16.4641 5.94995 16.4833L5.64995 16.5C5.40144 16.5152 5.15283 16.4719 4.92414 16.3734C4.69544 16.275 4.49306 16.1243 4.33329 15.9333C4.16705 15.7319 4.05774 15.4897 4.01671 15.2318C3.97568 14.9739 4.00442 14.7097 4.09995 14.4667V14.45C4.18723 14.2123 4.33172 13.9997 4.52067 13.8311C4.70962 13.6625 4.9372 13.5431 5.18329 13.4833L6.43329 13.15C6.59052 13.1125 6.73044 13.023 6.8303 12.8959C6.93017 12.7688 6.98408 12.6116 6.98329 12.45V11.6V4.98332C6.98514 4.84112 7.03584 4.70389 7.12688 4.59464C7.21792 4.4854 7.34376 4.41078 7.48329 4.38332L14.1666 3.16665C14.2895 3.15225 14.4134 3.18177 14.5166 3.24999C14.5634 3.28843 14.6012 3.33676 14.6271 3.39151C14.653 3.44626 14.6665 3.50607 14.6666 3.56665V12.0833Z"
                                                fill="white"></path>
                                        </g>
                                        <defs>
                                            <linearGradient id="paint0_linear_213_2305" x1="10" y1="19.9999" x2="10"
                                                y2="-5.14984e-05" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#FD355A"></stop>
                                                <stop offset="1" stop-color="#FD5163"></stop>
                                            </linearGradient>
                                            <radialGradient id="paint1_radial_213_2305" cx="0" cy="0" r="1"
                                                gradientUnits="userSpaceOnUse"
                                                gradientTransform="translate(6.26996 15.0647) rotate(90) scale(8.43551)">
                                                <stop stop-color="#7470F9"></stop>
                                                <stop offset="1" stop-color="#7A70FE" stop-opacity="0"></stop>
                                            </radialGradient>
                                            <radialGradient id="paint2_radial_213_2305" cx="0" cy="0" r="1"
                                                gradientUnits="userSpaceOnUse"
                                                gradientTransform="translate(12.9251 13.1393) rotate(-105.538) scale(6.80901)">
                                                <stop stop-color="#4CA3F8"></stop>
                                                <stop offset="0.362" stop-color="#4CA4F7"></stop>
                                                <stop offset="1" stop-color="#4AA2F9" stop-opacity="0"></stop>
                                            </radialGradient>
                                            <linearGradient id="paint3_linear_213_2305" x1="8.05026" y1="5.73065"
                                                x2="10.9878" y2="11.0635" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#FF6380"></stop>
                                                <stop offset="1" stop-color="#F65E79" stop-opacity="0"></stop>
                                            </linearGradient>
                                            <clipPath id="clip0_213_2305">
                                                <rect width="20" height="20" fill="white"></rect>
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#!">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M23.5057 6.22932C23.2289 5.20132 22.4184 4.39078 21.3904 4.11401C19.5123 3.60001 11.9999 3.60001 11.9999 3.60001C11.9999 3.60001 4.48762 3.60001 2.60954 4.09424C1.60131 4.37101 0.771002 5.20132 0.494232 6.22932C0 8.1074 0 12.0019 0 12.0019C0 12.0019 0 15.9163 0.494232 17.7746C0.771002 18.8026 1.58154 19.6131 2.60954 19.8899C4.50739 20.4039 11.9999 20.4039 11.9999 20.4039C11.9999 20.4039 19.5123 20.4039 21.3904 19.9097C22.4184 19.6329 23.2289 18.8223 23.5057 17.7943C23.9999 15.9163 23.9999 12.0217 23.9999 12.0217C23.9999 12.0217 24.0197 8.1074 23.5057 6.22932Z"
                                            fill="#FF0000"></path>
                                        <path d="M9.60791 15.5999L15.855 12.0019L9.60791 8.40393V15.5999Z" fill="white">
                                        </path>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#!">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_213_2313)">
                                            <path
                                                d="M20 4.44444V6.66667H0V4.44444C0 1.98889 1.98889 0 4.44444 0H15.5556C18.0111 0 20 1.98889 20 4.44444Z"
                                                fill="#4400FF"></path>
                                            <path
                                                d="M20 13.3333V15.5556C20 18.0111 18.0111 20 15.5556 20H4.44444C1.98889 20 0 18.0111 0 15.5556V13.3333H20Z"
                                                fill="#331799"></path>
                                            <path d="M20 6.66666H0V13.3333H20V6.66666Z" fill="#3D09D7"></path>
                                            <path
                                                d="M16.6567 12.7778C16.1367 12.7778 15.519 12.9072 15.064 13.2317C14.934 13.3289 14.934 13.4583 15.0967 13.4583C15.6167 13.3933 16.7873 13.2317 17.0145 13.5233C17.2095 13.7828 16.7867 14.885 16.5917 15.4033C16.5267 15.5655 16.6567 15.5978 16.7867 15.5005C17.6645 14.755 17.8917 13.2311 17.7295 13.0367C17.6317 12.875 17.1767 12.7778 16.6567 12.7778Z"
                                                fill="white"></path>
                                            <path
                                                d="M2.30559 13.2222C3.31115 13.8516 4.32781 14.4528 5.39504 14.9066C6.45837 15.3594 7.57392 15.6833 8.69503 15.6878C9.8367 15.7183 10.9961 15.5616 12.1211 15.3055C13.25 15.0455 14.35 14.6539 15.4306 14.1955C15.5717 14.135 15.7356 14.2011 15.7956 14.3422C15.8511 14.4728 15.7989 14.6228 15.6789 14.6928C14.6306 15.2978 13.4967 15.7666 12.3156 16.0844C11.1311 16.4022 9.90781 16.5411 8.66948 16.5211C7.40504 16.455 6.19448 16.07 5.11115 15.5094C4.02504 14.9461 3.03892 14.2372 2.13837 13.4444C2.08059 13.3933 2.07504 13.3055 2.12559 13.2478C2.17226 13.1961 2.24892 13.1866 2.30559 13.2222Z"
                                                fill="white"></path>
                                            <path
                                                d="M9.16672 11.6667H8.94228C8.30005 11.6667 7.77783 11.1445 7.77783 10.5022V8.33334H8.33339V10.5022C8.33339 10.8378 8.60672 11.1111 8.94228 11.1111H9.16672C9.50172 11.1111 10.0001 10.6128 10.0001 10.2778V9.72223H10.5556V10.2778C10.5556 10.9267 9.81561 11.6667 9.16672 11.6667Z"
                                                fill="white"></path>
                                            <path d="M3.33339 8.33334H2.77783V11.6667H3.33339V8.33334Z" fill="white">
                                            </path>
                                            <path
                                                d="M2.995 9.56107C2.98334 9.29052 3.07667 9.06607 3.20167 8.86274C3.26667 8.76107 3.33834 8.66385 3.43945 8.57218C3.55167 8.47718 3.68056 8.41496 3.81278 8.37274C4.35945 8.21052 4.93 8.54218 5.16723 9.03718C5.29111 9.28774 5.27945 9.58941 5.27778 9.77274V10.4039V11.6666H4.72223V10.4039V9.77274C4.72334 9.53885 4.72667 9.40385 4.66223 9.26941C4.54612 8.99274 4.20334 8.86996 3.92056 8.8783C3.67278 8.86774 3.34112 9.26163 3.27223 9.56107H2.995Z"
                                                fill="white"></path>
                                            <path
                                                d="M4.86109 9.56107C4.84943 9.29052 4.94276 9.06607 5.06776 8.86274C5.13276 8.76107 5.20443 8.66385 5.30554 8.57218C5.41776 8.47718 5.54665 8.41496 5.67887 8.37274C6.22554 8.21052 6.79609 8.54218 7.03331 9.03718C7.1572 9.28774 7.14554 9.58941 7.14387 9.77274V10.4039V11.6666H6.58831V10.4039V9.77274C6.58943 9.53885 6.59276 9.40385 6.52831 9.26941C6.4122 8.99274 6.06943 8.86996 5.78665 8.8783C5.53887 8.86774 5.2072 9.26163 5.13831 9.56107H4.86109Z"
                                                fill="white"></path>
                                            <path d="M10.5556 8.33334H10V11.6667H10.5556V8.33334Z" fill="white"></path>
                                            <path d="M14.4445 8.33334H13.8889V11.6667H14.4445V8.33334Z" fill="white">
                                            </path>
                                            <path
                                                d="M14.1666 7.77777C14.4735 7.77777 14.7222 7.52904 14.7222 7.22221C14.7222 6.91539 14.4735 6.66666 14.1666 6.66666C13.8598 6.66666 13.6111 6.91539 13.6111 7.22221C13.6111 7.52904 13.8598 7.77777 14.1666 7.77777Z"
                                                fill="white"></path>
                                            <path
                                                d="M15.5556 9.7889V10.2111C15.5556 10.7056 15.9611 11.1111 16.4556 11.1111C16.6944 11.1111 16.9222 11.0167 17.0944 10.85L17.2222 10.7222V11.4445C16.9944 11.5889 16.7333 11.6667 16.4556 11.6667C15.6556 11.6667 15 11.0111 15 10.2111V9.7889C15 8.9889 15.6556 8.33334 16.4556 8.33334C16.7333 8.33334 16.9944 8.41112 17.2222 8.55557V9.27779L17.0944 9.15001C16.9222 8.98334 16.6944 8.8889 16.4556 8.8889C15.9611 8.8889 15.5556 9.29446 15.5556 9.7889Z"
                                                fill="white"></path>
                                            <path
                                                d="M11.8028 8.86391C11.7472 8.90279 11.6666 9.01668 11.6666 9.16668C11.6666 9.48891 11.8444 9.58335 12.3111 9.73891C12.7444 9.87779 13.3333 10.0778 13.3333 10.8333C13.3333 11.1222 13.2222 11.3611 13.0055 11.5278C12.7333 11.7389 12.3222 11.8056 11.9278 11.8056C11.6278 11.8056 11.3278 11.7667 11.1111 11.7278V11.1611C11.6333 11.2667 12.3778 11.3167 12.6611 11.0889C12.7166 11.05 12.7778 10.9833 12.7778 10.8333C12.7778 10.5111 12.6 10.4167 12.1333 10.2611C11.7 10.1222 11.1111 9.92224 11.1111 9.16668C11.1111 8.87779 11.2222 8.63891 11.4389 8.47224C11.9222 8.09446 12.7205 8.19502 13.2128 8.38113V8.94779C12.6983 8.65113 12.0861 8.63613 11.8028 8.86391Z"
                                                fill="white"></path>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_213_2313">
                                                <rect width="20" height="20" fill="white"></rect>
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="album-table">
                    <div class="table-album-cover">
                        <div class="d-flex justify-content-between my-3 align-items-center">
                            <div class="play-music">
                                <div class="player">
                                    <!-- <audio controls>
                                        <source src="http://physical-authority.surge.sh/music/2.mp3">
                                    </audio> -->
                                    <div class="audio-player">
                                        
                                        <div class="controls">                                          
                                            <div class="name">Music Song</div>
                                            <div class="time">
                                                <div class="current">0:00</div>
                                                <div class="divider">/</div>
                                                <div class="length"></div>
                                            </div>
                                            <div class="timeline">
                                                <div class="progress"></div>
                                            </div>
                                            <div class="play-container">
                                                <div class="toggle-play play">
                                                </div>
                                            </div>
                                            <!--     credit for icon to https://saeedalipoor.github.io/icono/ -->
                                            <div class="volume-container">
                                                <div class="volume-button">
                                                    <div class="volume icono-volumeMedium"></div>
                                                </div>
        
                                                <div class="volume-slider">
                                                    <div class="volume-percentage"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="download-music-button">
                                <a href="#!" class="download-link">
                                    <svg class="mx-2" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M16.4405 8.90039C20.0405 9.21039 21.5105 11.0604 21.5105 15.1104V15.2404C21.5105 19.7104 19.7205 21.5004 15.2505 21.5004H8.74047C4.27047 21.5004 2.48047 19.7104 2.48047 15.2404V15.1104C2.48047 11.0904 3.93047 9.24039 7.47047 8.91039"
                                            stroke="white" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path d="M12 2V14.88" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path d="M15.3504 12.6504L12.0004 16.0004L8.65039 12.6504" stroke="white"
                                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    Download
                                </a>
                            </div>
                        </div>
                        <table class="table text-left">
                            <tbody>
                                <tr>
                                    <td width="20%">
                                        <p>Song Title :</p>
                                    </td>
                                    <td width="80%">
                                        <p>Im Good(Blue)</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <p>Label/Label Company/Self :</p>
                                    </td>
                                    <td width="80%">
                                        <p>Parlophone Records/Warner Music</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <p>Artist/Performer :</p>
                                    </td>
                                    <td width="80%">
                                        <p>Robert Fox</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <p>Featuring Artists/Performers :</p>
                                    </td>
                                    <td width="80%">
                                        <p>Jane Cooper, Wade Warren, Jenny Wilson</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <p>Genre :</p>
                                    </td>
                                    <td width="80%">
                                        <p>Classic, Vocal, Remix</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <p>Song Type :</p>
                                    </td>
                                    <td width="80%">
                                        <p>Original</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <p>BPM :</p>
                                    </td>
                                    <td width="80%">
                                        <p>126</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <p>Key :</p>
                                    </td>
                                    <td width="80%">
                                        <p>D Major</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <p>Scale :</p>
                                    </td>
                                    <td width="80%">
                                        <p>A#min</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <p>Publishing Date :</p>
                                    </td>
                                    <td width="80%">
                                        <p>12/12/2022</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <p>Release Date :</p>
                                    </td>
                                    <td width="80%">
                                        <p>01/01/2023</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- ---------------------------------->

    <!-- Rating Review -->


    <section class="rating-review-section mt-5">
        <div class="container">
            <div class="rating-cover">
                <div class="rating-title">
                    <h3>
                        Rating & Reviews
                    </h3>
                    <p>Overall Rating</p>
                    <div class="star-rating d-flex">
                        <span>4.5</span>
                        <ul class="d-flex align-items-center">
                            <li>
                                <a href="#!" class="active">
                                    <i class="fa-solid fa-star"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#!">
                                    <i class="fa-solid fa-star"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#!">
                                    <i class="fa-solid fa-star"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#!">
                                    <i class="fa-solid fa-star"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#!">
                                    <i class="fa-solid fa-star"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="review-details mb-3">
                        <div class="d-flex align-items-center">
                            <div class="review-profile">
                                <img src="../images/user-profile.png" alt="">
                            </div>
                            <div class="profile-name">
                                <span>
                                    Frank Garrett
                                </span>
                                <ul class="d-flex">
                                    <li>
                                        <a href="#!">
                                            <i class="fa-solid fa-star"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#!">
                                            <i class="fa-solid fa-star"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#!">
                                            <i class="fa-solid fa-star"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#!">
                                            <i class="fa-solid fa-star"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#!">
                                            <i class="fa-solid fa-star"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <span>5.0</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="rivew-contents">
                            <p>
                                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                                consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet
                                minim
                                mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                                duis
                                enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non
                                deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim
                                velit
                                mollit. Exercitation veniam consequat sunt nostrud amet.
                            </p>
                        </div>
                        <div class="questions-ans">
                            <ul>
                                <li>
                                    <span><b>1.</b>Exercitation veniam consequat sunt nostrud amet.</span>
                                    <p>
                                        Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt
                                        ullamco est sit aliqua dolor do amet sint.
                                    </p>
                                </li>
                                <li>
                                    <span><b>2.</b>Exercitation veniam consequat sunt nostrud amet.</span>
                                    <p>
                                        Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt
                                        ullamco est sit aliqua dolor do amet sint.
                                    </p>
                                </li>
                            </ul>
                            <ul class="questions-ans" id="read-more">
                                <li>
                                    <span><b>3.</b>Exercitation veniam consequat sunt nostrud amet.</span>
                                    <p>
                                        Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt
                                        ullamco est sit aliqua dolor do amet sint.
                                    </p>
                                </li>
                                <li>
                                    <span><b>4.</b>Exercitation veniam consequat sunt nostrud amet.</span>
                                    <p>
                                        Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt
                                        ullamco est sit aliqua dolor do amet sint.
                                    </p>
                                </li>
                            </ul>
                            <div class="d-flex justify-content-end">
                                <!-- <a href="" class="read-more-btn">Read More</a> -->
                                <button type="button" class="btn read-more-btn" id="toggle">Read More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--  -->

    <!-- download-infomation popup section start -->

    <div class="back-drop"></div>
    <div class="download-popup">
        <!-- <a href="#!" class="float-end modal-close">
            <i class="fa-solid fa-xmark"></i>
        </a> -->
        <div class="modal-info">
            <h3 class="text-center">Download</h3>
            <p class="text-center">Fill out the information, comments, and rating fields below to download the
                music.</p>
            <form>
                <div class="col-12">
                    <ul>
                        <li>
                            <div class="question-wrap">
                                <div class="question">
                                    <h3>1.Exercitation veniam consequat sunt nostrud amet.</h3>
                                </div>
                                <div class="answer">
                                    <input type="text" class="form-control" placeholder="Write here"
                                        aria-label="Username" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="question-wrap">
                                <div class="question">
                                    <h3>2.Exercitation veniam consequat sunt nostrud amet.</h3>
                                </div>
                                <div class="answer">
                                    <input type="text" class="form-control" placeholder="Write here"
                                        aria-label="Username" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="question-wrap">
                                <div class="question">
                                    <h3>3.Exercitation veniam consequat sunt nostrud amet.</h3>
                                </div>
                                <div class="answer">
                                    <input type="text" class="form-control" placeholder="Write here"
                                        aria-label="Username" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="question-wrap">
                                <div class="question">
                                    <h3>4.Exercitation veniam consequat sunt nostrud amet.</h3>
                                </div>
                                <div class="answer">
                                    <input type="text" class="form-control" placeholder="Write here"
                                        aria-label="Username" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="question-wrap">
                                <div class="question">
                                    <h3>5.Exercitation veniam consequat sunt nostrud amet.</h3>
                                </div>
                                <div class="answer">
                                    <input type="text" class="form-control" placeholder="Write here"
                                        aria-label="Username" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="modal-btn">
            <a class="btn btn-primary me-2" href="view-details.html" role="button">Cancel</a>
            <a class="btn reviews-link" href="#!" role="button">Next <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>

    <!-- download-infomation popup section End -->

    <!-- reviews-infomation popup section start -->

    <div class="back-drop"></div>

    <div class="reviews-body">
        <a href="#!" class="float-end modal-close">
            <i class="fa-solid fa-xmark"></i>
        </a>
        <div class="reviews-info">
            <h3 class="text-center">Reviews</h3>
            <form>
                <div class="col-12">
                    <div class="rating rating-box">
                        <p>Rating</p>
                        <div class="stars">
                            <input class="stars__checkbox" type="radio" id="first-star" name="star">
                            <label class="stars__star" for="first-star">
                                <svg class="stars__star-icon" version="1.1" id="Capa_1"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    x="0px" y="0px" viewBox="0 0 53.867 53.867"
                                    style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
                                    <polygon points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798 
                                        10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 " />
                                </svg>
                            </label>
                            <input class="stars__checkbox" type="radio" id="second-star" name="star">
                            <label class="stars__star" for="second-star">
                                <svg class="stars__star-icon" version="1.1" id="Capa_1"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    x="0px" y="0px" viewBox="0 0 53.867 53.867"
                                    style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
                                    <polygon points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798 
                                        10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 " />
                                </svg>
                            </label>
                            <input class="stars__checkbox" type="radio" id="third-star" name="star">
                            <label class="stars__star" for="third-star">
                                <svg class="stars__star-icon" version="1.1" id="Capa_1"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    x="0px" y="0px" viewBox="0 0 53.867 53.867"
                                    style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
                                    <polygon points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798 
                                        10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 " />
                                </svg>
                            </label>
                            <input class="stars__checkbox" type="radio" id="fourth-star" name="star">
                            <label class="stars__star" for="fourth-star">
                                <svg class="stars__star-icon" version="1.1" id="Capa_1"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    x="0px" y="0px" viewBox="0 0 53.867 53.867"
                                    style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
                                    <polygon points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798 
                                        10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 " />
                                </svg>
                            </label>
                            <input class="stars__checkbox" type="radio" id="fifth-star" name="star">
                            <label class="stars__star" for="fifth-star">
                                <svg class="stars__star-icon" version="1.1" id="Capa_1"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    x="0px" y="0px" viewBox="0 0 53.867 53.867"
                                    style="enable-background:new 0 0 53.867 53.867;" xml:space="preserve">
                                    <polygon points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798 
                                        10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 " />
                                </svg>
                            </label>
                        </div>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
                            placeholder="Write a review"></textarea>
                    </div>
                    <div class="reviews-btn">
                        <a class="btn" href="#" role="button">
                            <svg width="24" height="24" class="me-2" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16.4405 8.90039C20.0405 9.21039 21.5105 11.0604 21.5105 15.1104V15.2404C21.5105 19.7104 19.7205 21.5004 15.2505 21.5004H8.74047C4.27047 21.5004 2.48047 19.7104 2.48047 15.2404V15.1104C2.48047 11.0904 3.93047 9.24039 7.47047 8.91039"
                                    stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M12 2V14.88" stroke="white" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M15.3504 12.6504L12.0004 16.0004L8.65039 12.6504" stroke="white"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            Download
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- reviews-infomation popup section End -->







    <!-- JS Links  -->

   <%- include('artist-company/layouts/footer') %>

    <script>
        $(document).ready(function () {
            $("#toggle").click(function () {
                var elem = $("#toggle").text();
                if (elem == "Read More") {
                    //Stuff to do when btn is in the read more state
                    $("#toggle").text("Read Less");
                    $("#read-more").slideDown();
                } else {
                    //Stuff to do when btn is in the read less state
                    $("#toggle").text("Read More");
                    $("#read-more").slideUp();
                }
            });
        });
    </script>
