<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>DJ CHART</title>
    <link rel="icon" href="/img/favicon_black.png" type="image/png" />
    <link rel="stylesheet" href="/css/bootstrap1.min.css" />
    <link rel="stylesheet" href="/vendors/themefy_icon/themify-icons.css" />
    <link rel="stylesheet" href="/vendors/scroll/scrollable.css" />
    <link rel="stylesheet" href="/vendors/font_awesome/css/all.min.css" />
    <!-- <link rel="stylesheet" href="/vendors/datatable/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="/vendors/datatable/css/responsive.dataTables.min.css"/>
    <link rel="stylesheet" href="/vendors/datatable/css/buttons.dataTables.min.css"/> -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
    <link rel="stylesheet" href="/css/metisMenu.css" />
    <link rel="stylesheet" href="/css/style1.css" />
  </head>
  <body class="crm_body_bg">
    <nav class="sidebar dark_sidebar">
      <div class="logo d-flex justify-content-between">
        <a class="large_logo" href="">
            <img src="/img/admin_logo.png" alt=""/>
        </a>
        <a class="small_logo" href="index.html">
            <img src="/img/admin_favicon.png" width="80%" alt=""/>
        </a>
        <div class="sidebar_close_icon d-lg-none">
          <i class="ti-close"></i>
        </div>
      </div>
      <ul id="sidebar_menu">
        <li class="">
          <a href="/admin/dashboard" aria-expanded="false">
            <div class="nav_icon_small">
              <img src="/img/menu-icon/5.svg" alt="" />
            </div>
            <div class="nav_title">
              <span>Dashboard</span>
            </div>
          </a>
        </li>
        <li class="">
          <a class="has-arrow" href="#" aria-expanded="false">
            <div class="nav_icon_small">
              <img src="/img/menu-icon/1.svg" alt="" />
            </div>
            <div class="nav_title">
              <span>Users </span>
            </div>
          </a>
          <ul>
            <li><a href="/admin/all">All</a></li>
            <li><a href="/admin/artist">Artist</a></li>
            <li><a href="/admin/companies">Companies</a></li>
            <li><a href="/admin/dj">Dj</a></li>
          </ul>
        </li>
       <li class="">
          <a class="has-arrow" href="#" aria-expanded="false">
            <div class="nav_icon_small">
              <img src="/img/menu-icon/2.svg" alt="" />
            </div>
            <div class="nav_title">
              <span>Music </span>
            </div>
          </a>
          <ul>
            <li><a href="/admin/music">List</a></li>
          </ul>
        </li>

      </ul>
    </nav>

    <section class="main_content dashboard_part large_header_bg">
      <div class="container-fluid g-0">
        <div class="row">
          <div class="col-lg-12 p-0">
            <div class="header_iner d-flex justify-content-between align-items-center">
              <div class="sidebar_icon d-lg-none">
                <i class="ti-menu"></i>
              </div>
              <div class="line_icon open_miniSide d-none d-lg-block">
                <img src="/img/line_img.png" alt="" />
              </div>
              <div class="header_right d-flex justify-content-between align-items-center" >
                <div class="profile_info d-flex align-items-center">
                  <div class="profile_thumb mr_20">
                    <img src="/img/transfer/4.png" alt="#" />
                  </div>
                  <div class="author_name">
                    <h4 class="f_s_15 f_w_500 mb-0">Admin</h4>
                    <!-- <p class="f_s_12 f_w_400">Manager</p> -->
                  </div>
                  <div class="profile_info_iner">
                    <div class="profile_author_name">
                      <p>Admin</p>
                      <!-- <h5>Jiue Anderson</h5> -->
                    </div>
                    <div class="profile_info_details">
                      <!-- <a href="#">My Profile </a>
                      <a href="#">Settings</a> -->
                      <a href="/admin/logout">Log Out </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>