<html>
  <!-- Mirrored from demo.dashboardpack.com/cryptocurrency-html/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 19 Jan 2023 06:51:01 GMT -->
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>DJ CHART</title>
    <link rel="icon" href="/img/favicon_black.png" type="image/png" />

    <link rel="stylesheet" href="/css/bootstrap1.min.css" />

    <link rel="stylesheet" href="/vendors/themefy_icon/themify-icons.css" />
    <link rel="stylesheet" href="/vendors/font_awesome/css/all.min.css" />

    <link rel="stylesheet" href="/vendors/scroll/scrollable.css" />

    <link rel="stylesheet" href="/css/metisMenu.css" />

    <link rel="stylesheet" href="/css/style1.css" />
    <link rel="stylesheet" href="/css/colors/default.css" id="colorSkinCSS" />
  </head>
  <body class="crm_body_bg">
   

    <section class="">
       <div class="main_content_iner">
        <div class="container-fluid p-0">
          <div class="row justify-content-center">
            <div class="col-8">
              <div class="dashboard_header mt_50 mb_50">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="dashboard_header_title">
                      <h3>Login</h3>
                    </div>
                  </div>
                  <div class="col-lg-6">
                   
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 mt_50">
              <div class="mb_30">
                <div class="row justify-content-center">
                  <div class="col-lg-4">
                    <div class="modal-content cs_modal">
                      <div
                        class="modal-header justify-content-center theme_bg_1"
                      >
                        <h5 class="modal-title text_white">Log in</h5>
                      </div>
                      <div class="modal-body">
                        <form action="/admin/login" method="post">
                          <div class="">
                             <% if(typeof error !=='undefined' ) { %>
                                <% for(var i in error.details) { if(error.details[i].context.key=='email' ) { %>
                                  <small class="text-danger" id="error-email" style="color: #9f0606;">
                                    <%= error.details[i].message %>
                                  </small>
                                  <% } %>
                                <% } %>
                              <% } %>


                               <% if(typeof message !=='undefined' ) { %>
                                  <small class="text-danger" id="error-email" style="color: #9f0606;">
                                    <%= message %>
                                  </small>
                              <% } %>
                            <input type="text" name="email" class="form-control" placeholder="Enter your email"/>
                          </div>
                          <div class="">
                            <input type="password" name="password" class="form-control" placeholder="Password"/>
                          </div>
                          <button type="submit" class="btn_1 full_width text-center">Log in</button>
                          <!-- <a href="#" class="btn_1 full_width text-center" >Log in</a> -->
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

   

    <div id="back-top" style="display: none">
      <a title="Go to Top" href="#">
        <i class="ti-angle-up"></i>
      </a>
    </div>

    <script src="/js/jquery1-3.4.1.min.js"></script>

    <script src="/js/popper1.min.js"></script>

    <script src="/js/bootstrap1.min.js"></script>

    <script src="/js/metisMenu.js"></script>

    <script src="/vendors/scroll/perfect-scrollbar.min.js"></script>
    <script src="/vendors/scroll/scrollable-custom.js"></script>

    <script src="/js/custom.js"></script>
  </body>

</html>
