<%- include('layouts/header') %>

      <div class="main_content_iner">
        <div class="container-fluid p-0">
          <div class="row justify-content-center">
    
            <!-- Data Table start here -->


            <div class="col-lg-12">
              <div class="white_card card_height_100 mb_30">
                <div class="white_card_header">
                  <div class="box_header m-0">
                    <div class="main-title">
                      <h3 class="m-0">Update Users Password</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="white_card card_height_100 mb_30 padding-25">
              <form action="/admin/save-password" method="post" id="id_form">
                <input type="hidden" name="id" value="<%= userData.id %>">
                <div class="form-group">
                    <label for="password">New Password:</label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
                <div class="form-group">
                    <label for="password">Confirm Password:</label>
                    <input type="password" class="form-control" name="confirm_password" id="confirm_password">
                </div>
                <div class="checkbox">
                    <label id="password_mismatch"></label>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
              </form>
            </div>
            </div>

            <!-- Data Table end here -->
          </div>
        </div>
      </div>

<%- include('layouts/footer') %>
<script>
  $(document).ready( function () {
    $('#table_id').DataTable();
  } );

  $("#id_form").on("submit", function(){
   if($('#confirm_password').val()!=$('#password').val()){
    $('#password_mismatch').text('Password Mismatched');
    return false;
   }
   $('#password_mismatch').text('Password Matched');
   $("#id_form").submit();
   return true;
 })

  function acceptReject(id,status){
    var msg='Users account to approve.';
    if(status==2){
        msg='Users account to reject.';
    }
      swal({
        title: "Are you sure?",
        text: msg,
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
      .then((willDelete) => {
        if (willDelete) {

          $.ajax({
            type: "POST",
            url: "/admin/accept-reject",
            data: {'status':status,'id':id},
            cache: false,
            success: function(data){
                location.reload();
            }
          });
        } else {
          
        }
      });
    }
</script>